@import url('https://fonts.googleapis.com/css2?family=Cutive&family=Lato&display=swap');

.about-one{
    width: 100%;
    height: auto;
    background-image: url("../../public/bg-one.png");
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




@media screen and (max-width: 1540px) {
    
    .about-one {
      width: auto;
      height: 3300px;
      background-image: url("../../public/bg-one.png");
      background-size: cover;
      
    }

    .about-video{
      width: 1250px;
      height: 800px;
      box-shadow:  rgb(0, 0, 0, 0.8); /* Adjust the values as needed */
      z-index: 3; /* You can adjust the z-index based on your layout */
      margin-bottom: 13rem;
  }

  .about-image-container{
    width: 1200px;
    height: 1200px;
    margin-top: 3rem;
    

    >img{
      width: 1200px;
      margin-top: 20px;
      box-shadow: 0 2px 2px rgb(0, 0, 0, 0.8); /* Adjust the values as needed */
      z-index: 3; /* You can adjust the z-index based on your layout */
    }
  }

    
  
    
  }

  @media screen and (max-width: 500px) {


    .about-one {
        width: auto;
        height: 950px;
        background-image: url("../../public/bg-one.png");
        background-size: cover;
        background-position: center;
        overflow: hidden;
      }

    .about-video{
        width: 350px;
        height: 400px;
        box-shadow:  rgb(0, 0, 0, 0.8); /* Adjust the values as needed */
        z-index: 3; /* You can adjust the z-index based on your layout */
        margin: 0;
    }

    .about-image-container{
      width: 350px;
      height: 400px;
      margin: 0;

      >img{
        width: 350px;
        margin-top: 20px;
        box-shadow: 0 2px 2px rgb(0, 0, 0, 0.8); /* Adjust the values as needed */
        z-index: 3; /* You can adjust the z-index based on your layout */
      }
    }

    
  
    
  }