.footer-one{
    width: 100%;
    height: 900px;
    background-image: url("../../public/bg-four.png");
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}








@media screen and (max-width: 1540px) {
    
    .footer-one {
      width: 100%;
      height: auto;
      background-image: url("../../public/bg-four.png");
      background-size: cover;
      
    }

    
   

    
  
    
  }

  @media screen and (max-width: 500px) {


    .footer-one {
        width: auto;
        height: 450px;
        background-image: url("../../public/bg-four.png");
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
         justify-content: center;
         overflow: hidden;



         >img{
          width:350px;
          height: 200px;
          margin-top: 20px;
          box-shadow: 0 2px 2px rgb(0, 0, 0, 0.8); /* Adjust the values as needed */
          z-index: 3; /* You can adjust the z-index based on your layout */
         }
      }
      
    
  }