@font-face {
  font-family: 'graffiti';
  src: url('../public/BebasNeue-Regular.ttf') format('truetype');
     

  font-style: normal;
  
}

.halftone{
        position: absolute;
        height: 600px;
        width: 800px;
        opacity: 0.1;
      }
    
.book-now{
       position: absolute;
       color: white;
       width: 6rem;
       height: 2rem;
       border-radius: 20px;
       font-size: 1.1rem;
       font-style: graffiti;
       top: 80%;
       background-color: rgba(22, 163, 249, 1);
       z-index: 1001;
}


.cloud-one-blur, .cloud-two-blur {
    position: absolute;
    transition: transform 1s ease-in-out;
    width: 20rem;
    z-index: 999;
  }
  
  .cloud-one-blur {
    top: 19%;
    right: -0%;
    transform: translate(-50%, -50%);
  }
  
  .cloud-two-blur {
    bottom: 3%;
    left: 13%;
    transform: translate(-50%, -50%);
  }



  .clear-cloud-one, .clear-cloud-two {
    position: absolute;
    transition: transform 1s ease-in-out;
    width: 22rem;
    z-index: 299;
  }
  
  .clear-cloud-one {
    top: 45%;
    left: 38%;
    transform: translate(-50%, -50%);
    z-index: 990;
  }
  
  .clear-cloud-two {
    top: 50%;
    right: 16%;
    transform: translate(-50%, -50%);
    z-index: 990;
 
  }
  
  /* Define transitions for each click count */
  

  .other-element {
    position: absolute;
    top: -55%;
   
    font-size: 32rem;
    color: rgba(22, 163, 249, 1);
    z-index: 700;
    
    height: 50px;
  
    
  }




  .shoes-element{
    position: absolute;
    z-index: 999;
    top: 18%;
  

    >img{
      width: 58rem;
    }
  }


  .text-element {
    position: absolute;
    bottom: 18%;
  
    padding: 10px;
   
   
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    >p{
      font-size: 3rem;
      color: rgb(8, 76, 117);
    }
  }


  .cleaning{
    display: none;
  }

  .fade-text {
    opacity: 1;
    transition: opacity 0.5s ease-out;
  }
  
  .fade-text.fade-out {
    opacity: 0;
  }


  @media screen and (max-width: 500px) {
    
    .text-element{
      >p{
        font-size: 1.5rem;
      }
    }

    .shoes-element{
   
      width: 100%;
      height: 200px;
      top: 250px;
  
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      >img{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 550px;
        
      }
    }

    .cloud-one-blur{
      width: 10rem;
      left: 70%;
    }

    .cloud-two-blur{
      width: 10rem;
      right:40%;
    }

    .clear-cloud-one{
      width: 16rem;
      right: 30%;
    }

    .clear-cloud-two{
      width: 16rem;
      left: 50%;
    }

    .other-element{
      position: absolute;
      width: 80%;
      height: 50%;
      font-size: 10rem;
      top: 10%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      >p{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
    }

    .halftone{
      display: none;
    }

    .cleaning{
      display: block;
      position: absolute;
      font-size: 6rem;
      top: 42%;
      color: rgba(22, 163, 249, 1);;
    }
  }