.halftone{
        position: absolute;
        height: 800px;
        width: 800px;
        opacity: 0.1;
      }
    
.book-now{
       position: absolute;
       color: red;
       border-radius: 20px;
       top: 80%;
}


.cloud-one-blur, .cloud-two-blur {
    position: absolute;
    transition: transform 1s ease-in-out;
    z-index: 999;
  }
  
  .cloud-one-blur {
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .cloud-two-blur {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }



  .clear-cloud-one, .clear-cloud-two {
    position: absolute;
    transition: transform 1s ease-in-out;
    z-index: 899;
  }
  
  .clear-cloud-one {
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
  }
  
  .clear-cloud-two {
    top: 20%;
    left: 30%;
    transform: translate(-50%, -50%);
  }
  
  /* Define transitions for each click count */
  

  .other-element {
    position: absolute;
    top: 50%;
    right: 50%;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 500px;

    >p{
      font-size: 2rem;
      
    }
  }


  .shoes-element{
    position: absolute;
    z-index: 999;
  }


  .text-element {
    position: absolute;
    top: 60%;
    right: 60%;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 500px;

    >p{
      font-size: 2rem;
      
    }
  }