.header{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    color: rgba(22, 163, 249, 1);
    width: 100%;
    height: 140px;



   
}

.header .left-head{
    margin-left: 0rem;
}

.header .right-head{
    margin-right: 0rem;
}


@media screen and (max-width: 500px){
    .header .left-head{
     margin-left: 0;
     justify-content: flex-start;
    }


    .header .right-head{
        opacity: 0;
    }


    .header{
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        color: rgba(22, 163, 249, 1);
        width: 100%;
        height: 140px;
         

        >img{
            width: 121.84px;
            margin-left: 35px;
           
        }
       
    }
}