.header{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    color: rgba(22, 163, 249, 1);
    width: 100%;
    height: 140px;



   
}

.header .left-head{
    margin-left: 10rem;
}

.header .right-head{
    margin-right: 10rem;
}


@media screen and (max-width: 500px){
    .header .left-head{
        display: none;
    }


    .header .right-head{
        display: none;
    }


    .header{
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        color: rgba(22, 163, 249, 1);
        width: 100%;
        height: 140px;
         

        >img{
            width: 71.84px;
            height: 84px;
        }
       
    }
}