.header{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    color: rgba(22, 163, 249, 1);
    width: 100%;
    height: 140px;

   
}

.header .left-head{
    margin-left: 10rem;
}

.header .right-head{
    margin-right: 10rem;
}