.hero-one{
   
    background-image: url("../../public/Rectangle.webp");
    height: 840px;
    width: 100%;
   
}




 
  .hero-one{
    position: relative;
    background-image: url("../../public/Rectangle.webp");
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-size: contain;
    height: 830px;
    width: 100%;

    
  }
    
  

  @media screen and (max-width: 500px) {
    
    
  }


  