

.services-one{
    width: 100%;
    height: auto;
    background-image: url("../../public/bg-three.png");
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.services-text{
    margin: 0;
    padding: 0;
    font-size: 5rem;
    color: white;
}


.services-container{

    width: 800px;
    height: 200px;
    background-color: antiquewhite;
    margin: 50px;
}

.services-img-container{
        
}

@media screen and (max-width: 1540px) {
    
    .services-one {
      width: 100%;
      height: auto;
      background-image: url("../../public/bg-three.png");
      background-size: cover;
      
    }

    .services-text{
        margin: 0;
        font-size: 3rem;
        color: white;
    }

    .services-container{

        width: 200px;
        height: 100px;
        background-color: antiquewhite;
        margin: 20px;
        color: white;
    }

    .services-img-container{

    }

    
  
    
  }

  @media screen and (max-width: 500px) {


    .services-one {
        width: auto;
        height: 950px;
        background-image: url("../../public/bg-three.png");
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
         justify-content: center;
         overflow: hidden;
         color: white;
      }
     
      .services-text{
        margin: 0;
        font-size: 3rem;
        color: white;
        margin-top: 2rem;
    }

      .services-container{

        width: 350px;
        height: 400px;
        background-color: antiquewhite;
        color: rgb(214, 14, 4);
        font-family:monospace;
        font-size: larger;
        font-weight: 900;
       
    
    }

    .services-img-container{
     width: 350px;
     height: 400px;    
  
     margin-top: 20px;
    }

    .services-img-container-one{
        width: 350px;
        height: 200px;    
        background-color: gray;


        >img{
            width: 175px;
            height: 200px;
        }
       }

    .services-img-container-two{
        width: 350px;
        height: 200px;    
       

        >img{
            width: 350px;
            
        }
       }
  
    
  }